.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 200%;
  height: 40%;
  opacity: 1;
  bottom: -8px;
  right: -150%;
  border-radius: 50%;
  filter: blur(8px);
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 1;
  width: 200%;
  height: 40%;
  top: -8px;
  left: -150%;
  border-radius: 50%;
  filter: blur(8px);
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  padding: 12px 16px;
  border-radius: inherit;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
