@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #101010;
  @apply font-fira;
}

.grid-template__login {
  @apply grid h-full w-full gap-4;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(16, 111px);

  grid-template-areas:
    'Profile'
    'Profile'
    'Profile'
    'Language'
    'Contribution'
    'Contribution'
    'Notification'
    'Notification'
    'Refactor'
    'Refactor'
    'Trends'
    'Trends'
    'Daily'
    'Daily'
    'Enhance'
    'Enhance';
}

.grid-template__logout {
  @apply grid h-full w-full gap-4;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(16, 111px);

  grid-template-areas:
    'Login'
    'Profile'
    'Profile'
    'Language'
    'Contribution'
    'Contribution'
    'Notification'
    'Notification'
    'Refactor'
    'Refactor'
    'Trends'
    'Trends'
    'Daily'
    'Daily'
    'Enhance'
    'Enhance';
}

@media only screen and (min-width: 768px) {
  .grid-template__login {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 111px);
    grid-template-areas:
      'Profile Contribution'
      'Profile Contribution'
      'Profile Notification'
      'Language Notification'
      'Refactor Trends'
      'Refactor Trends'
      'Daily Enhance'
      'Daily Enhance';
  }

  .grid-template__logout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 111px);
    grid-template-areas:
      'Login Contribution'
      'Profile Contribution'
      'Profile Notification'
      'Language Notification'
      'Refactor Trends'
      'Refactor Trends'
      'Daily Enhance'
      'Daily Enhance';
  }
}

@media only screen and (min-width: 1024px) {
  .grid-template__login {
    height: 520px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      'Profile Contribution Notification Trends'
      'Profile Contribution Notification Trends'
      '. Contribution Notification Trends'
      '. Contribution Notification Trends'
      '. Contribution Notification Trends'
      '. Contribution Notification Trends'
      '. Refactor Daily Enhance'
      '. Refactor Daily Enhance'
      '. Refactor Daily Enhance'
      'Language Refactor Daily Enhance'
      'Language Refactor Daily Enhance'
      'Language Refactor Daily Enhance';
  }

  .grid-template__logout {
    height: 520px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'Login Contribution Notification Trends'
      'Profile Contribution Notification Trends'
      'Profile Refactor Daily Enhance'
      'Language Refactor Daily Enhance';
  }
}
